{
    margin: 0
;
    padding: 0
;
    box-sizing: border-box
;
    font-family: "monospace Lucida Console";

}
body{height: 100vh;
background-color: lightgray;
background-repeat: no-repeat;
background-image: url("wdss.webp");
background-size: 100% 100%;
background-attachment: fixed;
background-position: center;}

.search-bar{width: 600px;
    position: absolute;
    top: 9%;
    left: 28%;
    background:white;
    margin: 200px auto 0;
    border-radius: 50px;

}
.row{display: flex;
align-items: center;
padding: 10px 20px}
input{flex:1;
height: 50px;
    background:transparent;
    border:0;
    outline:0;
    font-size: 18px;
    color: #333;
}
button {
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-magnifying-glass{
    width: 25px;
    color: blueviolet;
    font-size: 22px;
    cursor: pointer;
}
.result-box ul{
    border-top: 1px solid #999;
    padding:15px 10px;
}
.result-box ul li{list-style: none;
border-radius: 10px;
padding: 15px 10px;
cursor: pointer;}
.result-box ul li:hover{background: #e9f3ff;
}
.logotipo a{
    position: absolute;
    top: 20%;
    left: 37%;
    width: 0%;
    color: #de8a16ff;
    font-size: 100px;
    font-family: "Consolas", monospace;
    overflow: hidden;
    animation: typing 1.5s steps(20, end) forwards,blink-caret .5s step-end infinite;
    border-right: .20em solid #69410A;
    text-decoration: none;

}
.logotipo a:hover{
    color:#69410A;

}
button .fa-wave-square{
    font-size: 50px;
    color: whitesmoke;
    cursor: pointer;
}
button .fa-wave-square:hover{
    color: #69410A;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-image: url("bzsd.webp");
    background-color: transparent;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Consolas',monospace;
    color: #16DEA9;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ffff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    mask-image: linear-gradient(white,transparent);
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 30%
    }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #69410A; }
}
